SERVICE_NAME=demanda-service
PORT=5004

# Conexao interna na rede Docker
DATABASE_URL=postgresql://svc_portal_b2b:SENHA_AQUI@postgres:5432/portal_b2b
DB_SCHEMA=portal_b2b

KAFKA_BOOTSTRAP_SERVERS=redpanda:9092