SERVICE_NAME=demanda-service
PORT=5004

# Conexao com o Banco Oficial Cloud SQL
DATABASE_URL=postgresql://svc_portal_b2b:senha_portal_b2b@136.114.235.212:5432/portal_b2b
DB_SCHEMA=portal_b2b

KAFKA_BOOTSTRAP_SERVERS=10.128.0.2:9092,10.128.0.3:9092,10.128.0.4:9092

#Autenticação
JWT_SECRET=DAJNjnbdaibndiuabdwqbiib24141F15n5j1n
JWT_ISSUER=portal-autenticacao
JWT_AUDIENCE=portal-b2b